# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Large generated datasets
data/raw/interactions.csv
data/processed/interactions_clean.csv
data/processed/model_features.csv

# Trained models
models/*.joblib
models/*.pkl

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db